
<img src="https://i.ibb.co/PQjhtPK/Logo-Datos-Vivos.png" width="400px">

# Curso Introductorio de Python

Publicado por [Escuela de Datos Vivos](https://escueladedatosvivos.ai/) (EDVAI) | [Página oficial del curso](https://escueladedatosvivos.ai/p/curso-gratuito-introduccion-a-python)

Seguinos en las redes para mas contenido:
 [Instagram](https://www.instagram.com/escueladedatosvivos/) | [Linkedin](https://www.linkedin.com/company/escuela-de-datos-vivos/) | [Twitter](https://twitter.com/datos_vivos)

Canal de [YouTube](https://www.youtube.com/c/Escueladedatosvivosai).

<br>


Profesor: [Pablo Casas](https://www.linkedin.com/in/pcasas/).

---

# Operaciones generales sobre pandas data frame

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
d_star_wars=pd.read_csv(filepath_or_buffer="/content/drive/MyDrive/EDVAI/Files/starwars.csv", sep=',')
d_star_wars

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human
...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,NaN,Human
84,BB8,NaN,NaN,none,none,black,NaN,none,NaN,Droid
85,Captain Phasma,NaN,NaN,NaN,NaN,NaN,NaN,female,NaN,NaN
86,Padmé Amidala,165.0,45,brown,light,brown,46BBY,female,Naboo,Human

In [4]:
d_star_wars.columns

Index(['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color',
       'birth_year', 'gender', 'homeworld', 'species'],
      dtype='object')

### 1) ¿Cómo eliminar columnas?

In [5]:
# Una columna
d_star_wars.drop(columns='name')

,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
1,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid
3,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human
4,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human
...,...,...,...,...,...,...,...,...,...
82,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human
83,NaN,NaN,brown,light,brown,NaN,male,NaN,Human
84,NaN,NaN,none,none,black,NaN,none,NaN,Droid
85,NaN,NaN,NaN,NaN,NaN,NaN,female,NaN,NaN
86,165.0,45,brown,light,brown,46BBY,female,Naboo,Human

In [6]:
# Eliminar N columnas
d_star_wars.drop(columns=['name', 'height'])

   mass hair_color   skin_color eye_color birth_year  gender homeworld species
0    77      blond         fair      blue      19BBY    male  Tatooine   Human
1    75        NaN         gold    yellow     112BBY     NaN  Tatooine   Droid
2    32        NaN  white, blue       red      33BBY     NaN     Naboo   Droid
3   136       none        white    yellow    41.9BBY    male  Tatooine   Human
4    49      brown        light     brown      19BBY  female  Alderaan   Human
..  ...        ...          ...       ...        ...     ...       ...     ...
82  NaN      brown        light     hazel        NaN  female       NaN   Human
83  NaN      brown        light     brown        NaN    male       NaN   Human
84  NaN       none         none     black        NaN    none       NaN   Droid
85  NaN        NaN          NaN       NaN        NaN  female       NaN     NaN
86   45      brown        light     brown      46BBY  female     Naboo   Human

[87 rows x 8 columns]

### 2) ¿Cómo eliminar duplicados?

In [7]:
d_star_wars_2=d_star_wars[['hair_color',	'skin_color']]

d_star_wars_3=d_star_wars_2.drop_duplicates()

d_star_wars_3

       hair_color           skin_color
0           blond                 fair
1             NaN                 gold
2             NaN          white, blue
3            none                white
4           brown                light
5     brown, grey                light
7             NaN           white, red
8           black                light
9   auburn, white                 fair
11   auburn, grey                 fair
12          brown                  NaN
13          brown                 fair
14            NaN                green
15            NaN     green-tan, brown
18          white                green
19           grey                 pale
20          black                 fair
21           none                metal
22           none                green
23          black                 dark
24           none                light
25           none         brown mottle
26         auburn                 fair
28          brown                brown
29           none                 grey
31           none        mottled green
33           none               orange
37          black           blue, grey
38           none            grey, red
41           none                  red
42           none                 pale
43           none                 blue
44           none           blue, grey
45           none          white, blue
46           none  grey, green, yellow
47           none                 dark
48          white                 pale
50          black                brown
60          black               yellow
63          white                 fair
64          black                  tan
66         blonde  fair, green, yellow
67           none                brown
71           none           grey, blue
72           none          silver, red
73           none          green, grey
75           none     red, blue, white
76           none         brown, white
84           none                 none
85            NaN                  NaN

In [8]:
d_star_wars_3.shape

(50, 2)

2.b) ¿Cómo obtener los registros duplicados?

In [9]:
d_star_wars_2[d_star_wars_2.duplicated()].shape

(37, 2)

### 3) ¿Cómo ordenar un data frame?

In [10]:
d_star_wars.sort_values('birth_year') # analizar los últimos valores...

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
63,Dooku,193.0,80,white,fair,brown,102BBY,male,Serenno,Human
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
21,IG-88,200.0,140,none,metal,red,15BBY,none,NaN,Droid
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human
...,...,...,...,...,...,...,...,...,...,...
81,Finn,NaN,NaN,black,dark,dark,NaN,male,NaN,Human
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,NaN,Human
84,BB8,NaN,NaN,none,none,black,NaN,none,NaN,Droid
85,Captain Phasma,NaN,NaN,NaN,NaN,NaN,NaN,female,NaN,NaN

In [11]:
# Orden descendente
d_star_wars.sort_values('birth_year', ascending=False)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
30,Qui-Gon Jinn,193.0,89,brown,fair,blue,92BBY,male,NaN,Human
48,Ki-Adi-Mundi,198.0,82,white,pale,yellow,92BBY,male,Cerea,Cerean
32,Finis Valorum,170.0,NaN,blond,fair,blue,91BBY,male,Coruscant,Human
28,Wicket Systri Warrick,88.0,20,brown,brown,brown,8BBY,male,Endor,Ewok
18,Yoda,66.0,17,white,green,brown,896BBY,male,NaN,Yoda's species
...,...,...,...,...,...,...,...,...,...,...
81,Finn,NaN,NaN,black,dark,dark,NaN,male,NaN,Human
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,NaN,Human
84,BB8,NaN,NaN,none,none,black,NaN,none,NaN,Droid
85,Captain Phasma,NaN,NaN,NaN,NaN,NaN,NaN,female,NaN,NaN

In [12]:
from google.colab.data_table import DataTable

# Ordenar por dos columnas
DataTable(d_star_wars.sort_values(['species', 'birth_year']))

In [13]:
# Emprolijar para chequear
d_sw_ordenado=d_star_wars.sort_values(['species', 'birth_year'])

In [14]:
# Error:
# d_sw_ordenado=d_sw_ordenado['species', 'birth_year'])

In [15]:
# Ok
d_sw_ordenado=d_sw_ordenado[['species', 'birth_year']]

DataTable(d_sw_ordenado)

### 4) ¿Cómo crear una variable en un dataframe?

In [16]:
d_star_wars['nueva_variable']=999

d_star_wars

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species,nueva_variable
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human,999
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid,999
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid,999
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human,999
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human,999
...,...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human,999
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,NaN,Human,999
84,BB8,NaN,NaN,none,none,black,NaN,none,NaN,Droid,999
85,Captain Phasma,NaN,NaN,NaN,NaN,NaN,NaN,female,NaN,NaN,999
86,Padmé Amidala,165.0,45,brown,light,brown,46BBY,female,Naboo,Human,999

In [17]:
# Pasando a metros la altura
d_star_wars['height_mts']=d_star_wars['height']/100

d_star_wars.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species,nueva_variable,height_mts
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human,999,1.72
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid,999,1.67
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid,999,0.96
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human,999,2.02
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human,999,1.50

### 5) ¿Cómo reordenar variables en un pandas data frame?

In [18]:
# R: select()

# subset
d_star_wars_4=d_star_wars.iloc[:, 0:3]
d_star_wars_4.columns

Index(['name', 'height', 'mass'], dtype='object')

In [19]:
# reorden
d_star_wars_5=d_star_wars_4[['mass', 'height', 'name']]

### 6) ¿Cómo renombrar variables?

En R es muy parecido, función `rename`.

In [20]:
d_star_wars_5.head()

  mass  height            name
0   77   172.0  Luke Skywalker
1   75   167.0           C-3PO
2   32    96.0           R2-D2
3  136   202.0     Darth Vader
4   49   150.0     Leia Organa

In [21]:
d_star_wars_5.rename(columns={'mass':'peso', 'height':'altura', 'name':'nombre'}).head()

  peso  altura          nombre
0   77   172.0  Luke Skywalker
1   75   167.0           C-3PO
2   32    96.0           R2-D2
3  136   202.0     Darth Vader
4   49   150.0     Leia Organa

In [22]:
# Aplicar función a todas las columnas. Todo a minúscula o mayúscula
str.lower('HOLA')

d_star_wars_5.rename(str.upper, axis="columns").head()

  MASS  HEIGHT            NAME
0   77   172.0  Luke Skywalker
1   75   167.0           C-3PO
2   32    96.0           R2-D2
3  136   202.0     Darth Vader
4   49   150.0     Leia Organa

Eliminar espacios de las columnas

In [23]:
d_star_wars_6=d_star_wars_5.rename(columns={'mass':'peso del personaje', 'height':'altura del personaje'})
d_star_wars_6.head()

  peso del personaje  altura del personaje            name
0                 77                 172.0  Luke Skywalker
1                 75                 167.0           C-3PO
2                 32                  96.0           R2-D2
3                136                 202.0     Darth Vader
4                 49                 150.0     Leia Organa

In [24]:
'hola mundo'.replace(' ', '_')

'hola_mundo'

In [25]:
d_star_wars_6.columns=d_star_wars_6.columns.str.replace(' ', '_')

d_star_wars_6.head()

  peso_del_personaje  altura_del_personaje            name
0                 77                 172.0  Luke Skywalker
1                 75                 167.0           C-3PO
2                 32                  96.0           R2-D2
3                136                 202.0     Darth Vader
4                 49                 150.0     Leia Organa

### 7)  ¿Cómo filtrar datos con pandas query?

En R el equivalente es `filter`.

In [26]:
d_star_wars.query(" height > 220 ")

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species,nueva_variable,height_mts
12,Chewbacca,228.0,112,brown,NaN,blue,200BBY,male,Kashyyyk,Wookiee,999,2.28
34,Roos Tarpals,224.0,82,none,grey,orange,NaN,male,Naboo,Gungan,999,2.24
53,Yarael Poof,264.0,NaN,none,white,yellow,NaN,male,Quermia,Quermian,999,2.64
68,Lama Su,229.0,88,none,grey,black,NaN,male,Kamino,Kaminoan,999,2.29
77,Tarfful,234.0,136,brown,brown,blue,NaN,male,Kashyyyk,Wookiee,999,2.34

In [27]:
# AND
d_star_wars.query(" height > 220 and hair_color == 'brown' ")

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species,nueva_variable,height_mts
12,Chewbacca,228.0,112,brown,NaN,blue,200BBY,male,Kashyyyk,Wookiee,999,2.28
77,Tarfful,234.0,136,brown,brown,blue,NaN,male,Kashyyyk,Wookiee,999,2.34

In [28]:
# OR, filtrar extremos
d_star_wars.query("height < 150 or height > 220 ")

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species,nueva_variable,height_mts
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid,999,0.96
7,R5-D4,97.0,32,NaN,"white, red",red,NaN,NaN,Tatooine,Droid,999,0.97
12,Chewbacca,228.0,112,brown,NaN,blue,200BBY,male,Kashyyyk,Wookiee,999,2.28
18,Yoda,66.0,17,white,green,brown,896BBY,male,NaN,Yoda's species,999,0.66
28,Wicket Systri Warrick,88.0,20,brown,brown,brown,8BBY,male,Endor,Ewok,999,0.88
34,Roos Tarpals,224.0,82,none,grey,orange,NaN,male,Naboo,Gungan,999,2.24
37,Watto,137.0,NaN,black,"blue, grey",yellow,NaN,male,Toydaria,Toydarian,999,1.37
38,Sebulba,112.0,40,none,"grey, red",orange,NaN,male,Malastare,Dug,999,1.12
44,Dud Bolt,94.0,45,none,"blue, grey",yellow,NaN,male,Vulpter,Vulptereen,999,0.94
45,Gasgano,122.0,NaN,none,"white, blue",black,NaN,male,Troiken,Xexto,999,1.22
53,Yarael Poof,264.0,NaN,none,white,yellow,NaN,male,Quermia,Quermian,999,2.64
68,Lama Su,229.0,88,none,grey,black,NaN,male,Kamino,Kaminoan,999,2.29
71,Ratts Tyerell,79.0,15,none,"grey, blue",NaN,NaN,male,Aleen Minor,Aleena,999,0.79
72,R4-P17,96.0,NaN,none,"silver, red","red, blue",NaN,female,NaN,NaN,999,0.96
77,Tarfful,234.0,136,brown,brown,blue,NaN,male,Kashyyyk,Wookiee,999,2.34

### 8) Descripción estadística básica

In [32]:
%%capture
!pip install funpymodeling

In [33]:
from funpymodeling.exploratory import status, freq_tbl, profiling_num

In [34]:
# Análisis univariado var numérica
profiling_num(d_star_wars)

,variable,mean,std_dev,variation_coef,p_0.01,p_0.05,p_0.25,p_0.5,p_0.75,p_0.95,p_0.99
0,height,174.358025,34.770429,0.19942,76.400,96.00,167.00,180.0,191.00,224.00,240.0
1,nueva_variable,999.000000,0.000000,0.00000,999.000,999.00,999.00,999.0,999.00,999.00,999.0
2,height_mts,1.743580,0.347704,0.19942,0.764,0.96,1.67,1.8,1.91,2.24,2.4

In [35]:
profiling_num(d_star_wars['birth_year'])

Empty DataFrame
Columns: [variable, mean, std_dev, variation_coef, p_0.01, p_0.05, p_0.25, p_0.5, p_0.75, p_0.95, p_0.99]
Index: []

In [36]:
# Análisis univariado var categórica
freq_tbl(d_star_wars)

              name  frequency  percentage  cumulative_perc
0   Luke Skywalker          1    0.011494         0.011494
1       Mas Amedda          1    0.011494         0.022989
2            Dooku          1    0.011494         0.034483
3            Dormé          1    0.011494         0.045977
4    Barriss Offee          1    0.011494         0.057471
..             ...        ...         ...              ...
82    Arvel Crynyd          1    0.011494         0.954023
83      Mon Mothma          1    0.011494         0.965517
84          Ackbar          1    0.011494         0.977011
85           Lobot          1    0.011494         0.988506
86   Padmé Amidala          1    0.011494         1.000000

[87 rows x 4 columns]

----------------------------------------------------------------

     mass  frequency  percentage  cumulative_perc
0      80          6    0.068966         0.101695
1      79          4    0.045977         0.169492
2      77          3    0.034483         0.220339
3      75          3    0.034483         0.271186
4      84          3    0.034483         0.322034
5      55          2    0.022989         0.355932
6      45          2    0.022989         0.389831
7      50          2    0.022989         0.423729
8      82          2    0.022989         0.457627
9      48          2    0.022989         0.491525
10    136          2    0.022989         0.525424
11     32          2    0.022989         0.559322
12     88          1    0.011494         0.576271
13    102          1    0.011494         0.593220
14     66          1    0.011494         0.610169
15     85          1    0.011494         0.627119
16     15          1    0.011494         0.644068
17     87          1    0.011494         0.661017
18     65          1    0.011494         0.677966
19     57          1    0.011494         0.694915
20     40          1    0.011494         0.711864
21   56.2          1    0.011494         0.728814
22     68          1    0.011494         0.745763
23     90          1    0.011494         0.762712
24     89          1    0.011494         0.779661
25     20          1    0.011494         0.796610
26     83          1    0.011494         0.813559
27    113          1    0.011494         0.830508
28    140          1    0.011494         0.847458
29   78.2          1    0.011494         0.864407
30     17          1    0.011494         0.881356
31    110          1    0.011494         0.898305
32  1,358          1    0.011494         0.915254
33     74          1    0.011494         0.932203
34    112          1    0.011494         0.949153
35    120          1    0.011494         0.966102
36     49          1    0.011494         0.983051
37    159          1    0.011494         1.000000

----------------------------------------------------------------

       hair_color  frequency  percentage  cumulative_perc
0            none         37    0.425287         0.456790
1           brown         18    0.206897         0.679012
2           black         13    0.149425         0.839506
3           white          4    0.045977         0.888889
4           blond          3    0.034483         0.925926
5     brown, grey          1    0.011494         0.938272
6   auburn, white          1    0.011494         0.950617
7    auburn, grey          1    0.011494         0.962963
8            grey          1    0.011494         0.975309
9          auburn          1    0.011494         0.987654
10         blonde          1    0.011494         1.000000

----------------------------------------------------------------

             skin_color  frequency  percentage  cumulative_perc
0                  fair         17    0.195402         0.200000
1                 light         11    0.126437         0.329412
2                 green          6    0.068966         0.400000
3                  grey          6    0.068966         0.470588
4                  dark          6    0.068966         0.541176
5                  pale          5    0.057471         0.600000
6                 brown          4    0.045977         0.647059
7                   tan          2    0.022989         0.670588
8                yellow          2    0.022989         0.694118
9                  blue          2    0.022989         0.717647
10           blue, grey          2    0.022989         0.741176
11               orange          2    0.022989         0.764706
12                white          2    0.022989         0.788235
13          white, blue          2    0.022989         0.811765
14                metal          1    0.011494         0.823529
15         brown, white          1    0.011494         0.835294
16     red, blue, white          1    0.011494         0.847059
17          green, grey          1    0.011494         0.858824
18          silver, red          1    0.011494         0.870588
19           grey, blue          1    0.011494         0.882353
20  fair, green, yellow          1    0.011494         0.894118
21         brown mottle          1    0.011494         0.905882
22  grey, green, yellow          1    0.011494         0.917647
23           white, red          1    0.011494         0.929412
24                  red          1    0.011494         0.941176
25            grey, red          1    0.011494         0.952941
26     green-tan, brown          1    0.011494         0.964706
27                 gold          1    0.011494         0.976471
28        mottled green          1    0.011494         0.988235
29                 none          1    0.011494         1.000000

----------------------------------------------------------------

        eye_color  frequency  percentage  cumulative_perc
0           brown         21    0.241379         0.250000
1            blue         19    0.218391         0.476190
2          yellow         11    0.126437         0.607143
3           black         10    0.114943         0.726190
4          orange          8    0.091954         0.821429
5             red          5    0.057471         0.880952
6           hazel          3    0.034483         0.916667
7       blue-gray          1    0.011494         0.928571
8            pink          1    0.011494         0.940476
9       red, blue          1    0.011494         0.952381
10           gold          1    0.011494         0.964286
11  green, yellow          1    0.011494         0.976190
12          white          1    0.011494         0.988095
13           dark          1    0.011494         1.000000

----------------------------------------------------------------

   birth_year  frequency  percentage  cumulative_perc
0       19BBY          2    0.022989         0.046512
1       72BBY          2    0.022989         0.093023
2       48BBY          2    0.022989         0.139535
3     41.9BBY          2    0.022989         0.186047
4       52BBY          2    0.022989         0.232558
5       82BBY          2    0.022989         0.279070
6       92BBY          2    0.022989         0.325581
7        8BBY          1    0.011494         0.348837
8       91BBY          1    0.011494         0.372093
9       62BBY          1    0.011494         0.395349
10      22BBY          1    0.011494         0.418605
11      54BBY          1    0.011494         0.441860
12      37BBY          1    0.011494         0.465116
13      58BBY          1    0.011494         0.488372
14      40BBY          1    0.011494         0.511628
15     102BBY          1    0.011494         0.534884
16      67BBY          1    0.011494         0.558140
17      66BBY          1    0.011494         0.581395
18      41BBY          1    0.011494         0.604651
19      53BBY          1    0.011494         0.627907
20      31BBY          1    0.011494         0.651163
21     112BBY          1    0.011494         0.674419
22      15BBY          1    0.011494         0.697674
23    31.5BBY          1    0.011494         0.720930
24     896BBY          1    0.011494         0.744186
25      21BBY          1    0.011494         0.767442
26     600BBY          1    0.011494         0.790698
27      44BBY          1    0.011494         0.813953
28      29BBY          1    0.011494         0.837209
29     200BBY          1    0.011494         0.860465
30      64BBY          1    0.011494         0.883721
31      57BBY          1    0.011494         0.906977
32      24BBY          1    0.011494         0.930233
33      47BBY          1    0.011494         0.953488
34      33BBY          1    0.011494         0.976744
35      46BBY          1    0.011494         1.000000

----------------------------------------------------------------

          gender  frequency  percentage  cumulative_perc
0           male         62    0.712644         0.738095
1         female         19    0.218391         0.964286
2           none          2    0.022989         0.988095
3  hermaphrodite          1    0.011494         1.000000

----------------------------------------------------------------

         homeworld  frequency  percentage  cumulative_perc
0            Naboo         11    0.126437         0.142857
1         Tatooine         10    0.114943         0.272727
2         Alderaan          3    0.034483         0.311688
3           Kamino          3    0.034483         0.350649
4        Coruscant          3    0.034483         0.389610
5           Mirial          2    0.022989         0.415584
6         Kashyyyk          2    0.022989         0.441558
7         Corellia          2    0.022989         0.467532
8           Ryloth          2    0.022989         0.493506
9         Iridonia          1    0.011494         0.506494
10         Iktotch          1    0.011494         0.519481
11         Quermia          1    0.011494         0.532468
12           Dorin          1    0.011494         0.545455
13        Champala          1    0.011494         0.558442
14        Geonosis          1    0.011494         0.571429
15           Zolan          1    0.011494         0.584416
16         Serenno          1    0.011494         0.597403
17    Concord Dawn          1    0.011494         0.610390
18           Cerea          1    0.011494         0.623377
19            Ojom          1    0.011494         0.636364
20     Aleen Minor          1    0.011494         0.649351
21           Skako          1    0.011494         0.662338
22      Muunilinst          1    0.011494         0.675325
23           Shili          1    0.011494         0.688312
24           Kalee          1    0.011494         0.701299
25          Umbara          1    0.011494         0.714286
26     Glee Anselm          1    0.011494         0.727273
27         Vulpter          1    0.011494         0.740260
28      Haruun Kal          1    0.011494         0.753247
29            Tund          1    0.011494         0.766234
30         Stewjon          1    0.011494         0.779221
31          Eriadu          1    0.011494         0.792208
32           Rodia          1    0.011494         0.805195
33       Nal Hutta          1    0.011494         0.818182
34      Bestine IV          1    0.011494         0.831169
35       Trandosha          1    0.011494         0.844156
36         Socorro          1    0.011494         0.857143
37          Bespin          1    0.011494         0.870130
38        Mon Cala          1    0.011494         0.883117
39       Chandrila          1    0.011494         0.896104
40           Endor          1    0.011494         0.909091
41         Sullust          1    0.011494         0.922078
42  Cato Neimoidia          1    0.011494         0.935065
43        Toydaria          1    0.011494         0.948052
44       Malastare          1    0.011494         0.961039
45        Dathomir          1    0.011494         0.974026
46         Troiken          1    0.011494         0.987013
47          Utapau          1    0.011494         1.000000

----------------------------------------------------------------

           species  frequency  percentage  cumulative_perc
0            Human         35    0.402299         0.426829
1            Droid          5    0.057471         0.487805
2           Gungan          3    0.034483         0.524390
3         Mirialan          2    0.022989         0.548780
4          Wookiee          2    0.022989         0.573171
5          Twi'lek          2    0.022989         0.597561
6         Kaminoan          2    0.022989         0.621951
7           Zabrak          2    0.022989         0.646341
8         Quermian          1    0.011494         0.658537
9          Kel Dor          1    0.011494         0.670732
10        Chagrian          1    0.011494         0.682927
11       Geonosian          1    0.011494         0.695122
12        Clawdite          1    0.011494         0.707317
13      Tholothian          1    0.011494         0.719512
14        Besalisk          1    0.011494         0.731707
15          Aleena          1    0.011494         0.743902
16         Skakoan          1    0.011494         0.756098
17            Muun          1    0.011494         0.768293
18         Togruta          1    0.011494         0.780488
19         Kaleesh          1    0.011494         0.792683
20        Iktotchi          1    0.011494         0.804878
21           Toong          1    0.011494         0.817073
22        Nautolan          1    0.011494         0.829268
23          Cerean          1    0.011494         0.841463
24           Xexto          1    0.011494         0.853659
25      Vulptereen          1    0.011494         0.865854
26             Dug          1    0.011494         0.878049
27       Toydarian          1    0.011494         0.890244
28       Neimodian          1    0.011494         0.902439
29       Sullustan          1    0.011494         0.914634
30            Ewok          1    0.011494         0.926829
31    Mon Calamari          1    0.011494         0.939024
32      Trandoshan          1    0.011494         0.951220
33  Yoda's species          1    0.011494         0.963415
34            Hutt          1    0.011494         0.975610
35          Rodian          1    0.011494         0.987805
36          Pau'an          1    0.011494         1.000000

----------------------------------------------------------------

¿Cómo aplicar funciones de sumarización a cada columna?

In [37]:
d_star_wars.max()

<ipython-input-37-97155c05534e>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  d_star_wars.max()

name              Zam Wesell
height                 264.0
nueva_variable           999
height_mts              2.64
dtype: object

In [38]:
d_star_wars.mean()

<ipython-input-38-6b5df1b4021f>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  d_star_wars.mean()

height            174.358025
nueva_variable    999.000000
height_mts          1.743580
dtype: float64

In [39]:
print("El promedio de altura es %s y el  de la altura en mts es: %s" % (str(d_star_wars['height'].mean()), str(d_star_wars['height_mts'].mean())))

El promedio de altura es 174.35802469135803 y el  de la altura en mts es: 1.7435802469135802

### 9) ¿Cómo exportar un pandas dataframe a csv?
(y directorio de trabajo)

In [40]:
d_star_wars_2.head()

  hair_color   skin_color
0      blond         fair
1        NaN         gold
2        NaN  white, blue
3       none        white
4      brown        light

In [41]:
d_star_wars_2.to_csv('d_sw2.csv',  sep=',', index=False)

In [42]:
import os
os.getcwd()

'/content'

¿Cómo cambiar el directorio de trabajo?

In [43]:
#os.chdir('/content/drive')
os.chdir('/content/drive/MyDrive/EDVAI/Files')



d_star_wars_2.to_csv('d_star_wars_2.csv',  sep=',', index=False)

---

## Complementa Python con R

R esta muy cercano, [visita nuestro blog](https://blog.escueladedatosvivos.ai/) y enterate mas.

También tenemos un curso gratuito: [Desembarcando en R > 2da edición](https://escueladedatosvivos.ai/p/curso-desembarcando-en-r-2da-edicion-gratis).

---

## Redes para estar actualizado:

[Instagram](https://www.instagram.com/escueladedatosvivos/) | [Linkedin](https://www.linkedin.com/company/escuela-de-datos-vivos/) | [Twitter](https://twitter.com/datos_vivos)

Por [Escuela de Datos Vivos](https://escueladedatosvivos.ai)